#rimage-manage {
	display: none;
	top: 3%;
	width: 95%;
	margin: 0 auto;
	left: 0;
	right: 0;
}

#rimage-manage h4 {
	display: inline-block;
	font-size: 20px;
	padding-right: 1rem;
}

#rimage-manage .modal-content {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#rimage-manage .modal-header {
	padding: 10px 16px;
}

#rimage-manage .modal-header .close {
	line-height: 34px !important;
}

#rimage-manage .modal-body {
	max-height: calc(92vh - 120px);
	overflow-y: scroll;
	position: relative;
	width: calc(100% - 1rem); 
	padding: 0.5rem;
	flex: 1 0 auto;
}

#rimage-manage .dropzone {
	min-height: 400px;
	border: 4px dashed #ffcd05;
	background: #343434;
	position: relative;
}

#rimage-manage .dropzone .dz-default {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	width: 100%;
	font-size: 24px;
	color: #fff;
	text-align: center;
}

#rimage-manage .dropzone .dz-preview.dz-image-preview {
	background: #343434;
}

#rimage-manage [class^="icon-"]:not(.icon-delete), #rimage-manage [class*=" icon-"]:not(.icon-delete) {
    border-radius: 3px 0 0 3px;
    border-right: 1px solid #b3b3b3;
    height: auto;
    line-height: inherit;
    margin: 0 6px 0 -10px;
    opacity: 1;
    text-shadow: none;
    width: 28px;
    z-index: -1;
}

.rthumbs-container {
	display: flex;
	flex-wrap: wrap;
}

.rthumbs-noimages {
	text-align: center;
	font-size: 18px;
	margin: 1rem 0;
	width: 100%;
}

.rthumb {
	width: calc(25% - 1rem);
	padding: 0.5rem;
	overflow: hidden;
	cursor: move;
	position: relative;
}

.rthumb-image {
    overflow: hidden;
    max-height: 190px;
    transition: 0.5s max-height;
}

.rthumb-label {
	border-top: 2px solid #ffcd05;
	text-align: center;
	background: #343434;
	padding: 0.5rem 0.75rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #fff;
	font-size: 12px;
}

.rthumb.sortable-chosen .rthumb-delete, .rthumb.sortable-chosen .rthumb-label {
	visibility: hidden;
	opacity: 0;
}

.rthumb.sortable-chosen .rthumb-image {
	max-height: 230px;
}

.rthumb-delete {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	padding: 0.5rem;
	text-align: center;
	background: rgb(288,22,22, 0.60);
	color: #fff;
	border-bottom-left-radius: 10px;
	cursor: pointer;
	transition: 0.5s opacity, 0.5s visibility;
}

.rthumb-delete span {
	margin-right: 0;
}

.upload-images-container {
	position: absolute;
	background: #fff;
	max-height: 0;
	opacity: 0;
	visibility: hidden;
	left: 0;
	right: 0;
	top: 0;
	padding: 1rem;
	background: #fff;
	z-index: 100;
	transition: 0.5s all;
	height: 100%;
}
.upload-images-container.open {
	max-height: 2000px;
	opacity: 1;
	visibility: visible;
}

.upload-buttons {
	margin-top: 2rem;
	text-align: center;
}

