#rimage-order {
	display: none;
}

#rimage-order h4 {
	display: inline-block;
	font-size: 20px;
	padding-right: 1rem;
}

.rthumbs-container {
	display: flex;
	flex-wrap: wrap;
}
.rthumb {
	width: calc(20% - 1rem);
	padding: 0.5rem;
	max-height: 120px;
	overflow: hidden;
	cursor: move;
}